@charset "UTF-8";
@media screen, projection {
    
body, html {
    width: 100%;
    font-family: Helvetica, Tahoma, Calibri, Veranda, Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background-color: #232229;
    background-image: url('../image/background.jpg');
}

div.center {
    margin-top: 20%;
}

#brush {
    margin-top: 10%;
    margin-left: 30%;
    width: 539px;
    height: 263px;
    float: left;
    background-image: url('../image/brush.png');
}

#contact {
    font-size: 12px;
    margin-top: 25px;
    opacity: 0.7;
}

h1 {
    color: #9bdcff;
    font-size: 48px;
    font-weight: normal;

}

h1 .tld {
    color: #fff;
}

.quote {
    font-style: italic;
}

a {
    color: #9bdcff;
    text-decoration: none;
}

p {
    margin: 7px;
}

/* end @media */
}