@charset "UTF-8";
@media screen, projection {
    
body, html {
    width: 100%;
    font-family: 'Libertinage', Helvetica, Tahoma, Calibri, Veranda, Arial, sans-serif;
    font-weight: normal; 
    font-style: normal; 
    font-size: 18px;
    color: #000;
    background-color: #f0f0e7;
    background-image: url('../image/background.jpg');
}

div.center {
    /*
    margin-top: 20%;
    */
}

#wrapper {
    /*
    margin-top: 10%;
    margin-left: 30%;
    */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -130px;
    width: 700px;
    height: 263px;
}

#logo {
    float: left;
    margin-right: 25px;
    margin-top: -10px;
}

#contact {
    font-size: 12px;
    margin-top: 25px;
}

h1 {
    color: #000;
    font-size: 48px;
    font-weight: normal;

}

.quote {
    font-style: italic;
}

a {
    color: #ff800f;
    text-decoration: none;
}

#contact a:hover {
    border-bottom: 1px dashed #ff800f;
}

p {
    margin: 7px;
}

/* end @media */
}